{% extends "base.html" %}
{% load static %}
{% block title %}订单查询{% endblock title %}
{% block css %}
    <style type="text/css">
        .pagination{
            margin-left: 450px;
        }
    </style>
{% endblock css %}

{% block context %}
    <div class="container">
        <h2 class="text-center">订单查询</h2>
        <br />
        <form class="form-horizontal"  action="{% url 'order:search' %}" method="GET">
            <div class="form-group">
                <label for="profile" class="col-sm-4 control-label">profile</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="profile" name="profile" placeholder="profile">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">查 询</button>
                </div>
            </div>
        </form>
        <br />
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th>Profile</th>
                <th>zone</th>
                <th>Order ID</th>
                <th>Order Time</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <td>{{ order.profile }}</td>
                    <td>{{ order.zone }}</td>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.order_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if order_list %}
    <div class="container">
    <div class="pagination">
        <span class="step-links">
            {% if order_list.has_previous %}
                <a href="?profile={{ profile }}&page={{ order_list.previous_page_number }}">前一页</a>
            {% endif %}

            <span class="current">
                第 {{ order_list.number }} 页，共 {{ order_list.paginator.num_pages }} 页
            </span>

            {% if order_list.has_next %}
                <a href="?profile={{ profile }}&page={{ order_list.next_page_number }}">下一页</a>
            {% endif %}
        </span>
    </div>
    </div>
    {% endif %}

{% endblock context %}

{% block js %}
    <script>
    $('#li_order').attr('class','active');
    </script>
{% endblock js %}